@media(min-width:320px) {}

@media(min-width:375px) {}

@media(min-width:425px) {}

@media(min-width:768px) {
    .features {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media(min-width:1024px) {
    .features {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}

@media(min-width:1440px) {
    .features {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }
}